@font-face { font-family: 'Roboto-Bold'; src: url("fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-bold-webfont.svg") format("svg"), url("fonts/robotocondensed-bold-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-BoldItalic'; src: url("fonts/robotocondensed-bolditalic-webfont.ttf") format("truetype"), url("fonts/robotocondensed-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-bolditalic-webfont.svg") format("svg"), url("fonts/robotocondensed-bolditalic-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-Italic'; src: url("fonts/robotocondensed-italic-webfont.ttf") format("truetype"), url("fonts/robotocondensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-italic-webfont.svg") format("svg"), url("fonts/robotocondensed-italic-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-Light'; src: url("fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-light-webfont.svg") format("svg"), url("fonts/robotocondensed-light-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-LightItalic'; src: url("fonts/robotocondensed-lightitalic-webfont.ttf") format("truetype"), url("fonts/robotocondensed-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-lightitalic-webfont.svg") format("svg"), url("fonts/robotocondensed-lightitalic-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-Regular'; src: url("fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-regular-webfont.svg") format("svg"), url("fonts/robotocondensed-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Roboto-Regular'; src: url("fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/robotocondensed-regular-webfont.svg") format("svg"), url("fonts/robotocondensed-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: "icons-bateria"; src: url("fonts/icons-bateria.eot"); src: url("fonts/icons-bateria.eot?#iefix") format("embedded-opentype"), url("fonts/icons-bateria.woff") format("woff"), url("fonts/icons-bateria.ttf") format("truetype"), url("fonts/icons-bateria.svg#icons-bateria") format("svg"); font-weight: normal; font-style: normal; }
[data-icon]:before { font-family: "icons-bateria" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "icons-bateria" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-ampliar:before { content: "\61"; }

.icon-cerrar:before { content: "\62"; }

.icon-check:before { content: "\63"; }

.icon-datafono:before { content: "\64"; }

.icon-datos-bateria:before { content: "\65"; }

.icon-desplegar:before { content: "\66"; }

.icon-efectivo:before { content: "\67"; }

.icon-flecha:before { content: "\68"; }

.icon-marca-gratis:before { content: "\69"; }

.icon-solicitud-en-linea:before { content: "\6a"; }

.icon-whatsapp:before { content: "\6b"; }

.icon-whatsapp-copia:before { content: "\6c"; }

.icon-arrow-right:before { content: "\6d"; }

.max-container { max-width: 728px; margin: 0px auto; height: 100vh; background-color: #cecece; }

body { color: #383b3e; height: 100%; }

a { color: #383b3e; }

header { width: 100%; background-color: #ffcd00; text-align: center; }
header .logo { margin: 0px auto; }
header .logo img { max-width: 100%; }

.content { width: 100%; }

.bold { font-family: "Roboto-Bold"; }

.bg-dark { position: relative; background-color: #404040; }

.bg-light { background-color: #cecece; padding-bottom: 15px; }

a .btn-yellow { text-decoration: none; }

.btn-yellow { background-color: #f4c916; padding: 5px 20px; margin: 0px auto; width: 100%; text-align: center; text-transform: uppercase; border-radius: 5px; text-decoration: none; font-family: "Roboto-Bold"; font-size: 20px; }

.mergenes { margin-left: 15px; margin-right: 15px; }

.home .cover-home { width: 100%; height: 300px; background-position: center; background-size: cover; background-image: url(../images/cover.jpg); }
.home .solicitud { width: 90%; margin: 0px auto; position: relative; top: -45px; }
.home .solicitud .head-soli { background-color: #cecece; text-align: center; font-family: "Roboto-Regular"; padding: 12px 0px; border-top-right-radius: 5px; border-top-left-radius: 5px; }
.home .solicitud .body-soli { margin-left: 15px; margin-right: 15px; }
.home .solicitud .body-soli .ic { font-size: 30px; }
.home .solicitud .body-soli .ic-round { font-size: 15px; background-color: white; border-radius: 50%; width: 30px; height: 30px; margin: 0px auto; text-align: center; padding-top: 6px; }
.home .solicitud .body-soli .item-soli { background-color: #f4c916; padding: 12px 0px; border-bottom: 1px solid #c19c00; }
.home .solicitud .body-soli .item-soli:last-child { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.home .catalogo { width: 90%; margin: 0px auto; padding-bottom: 20px; }
.home .catalogo p { color: white; }
.home .catalogo a { font-family: "Roboto-Regular"; color: #e3b90c; }

.proceso .head-steps { padding: 25px 0px; }
.proceso .head-steps h3 { text-align: center; color: #cecece; font-family: "Roboto-Italic"; margin: 0px; padding: 10px 0px; }
.proceso .head-steps .time-line { text-align: center; padding-bottom: 20px; }
.proceso .head-steps .time-line .number, .proceso .head-steps .time-line .line { display: inline-block; vertical-align: middle; }
.proceso .head-steps .time-line .number { text-align: center; border-radius: 50%; width: 30px; height: 30px; color: #565656; padding-top: 3px; border: 2px solid #565656; }
.proceso .head-steps .time-line .check { background-color: #e3b90c; }
.proceso .head-steps .time-line .number.active { border: 2px solid #e3b90c; color: #e3b90c; }
.proceso .head-steps .time-line .number.active .icon-check { color: black; font-size: 26px; margin-top: -6px; }
.proceso .head-steps .time-line .line.active { border: 1px solid #e3b90c; }
.proceso .head-steps .time-line .line { width: 60px; height: 2px; border: 1px solid #565656; }
.proceso .content-btns { width: 90%; margin: 0px auto; }
.proceso .content-btns .input-group { width: 100%; margin-bottom: 15px; }
.proceso .content-btns .input-group input { padding: 22px 12px; border-radius: 5px; }
.proceso .content-btns .btn-group { width: 100%; }
.proceso .content-btns .btn-group button { text-align: left; width: 100%; padding: 12px; color: #cecece; }
.proceso .content-btns .shadow { box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2); }
.proceso .content-btns .margin-btm { margin-bottom: 15px; }
.proceso .content-btns .ic-yellow { color: #f4c916; font-size: 19px; }
.proceso .content-btns .left-ic { position: absolute; right: 15px; color: #383b3e; }
.proceso .content-btns .dropdown-menu { width: 100%; }
.proceso .out-grid { position: relative; top: -15px; }
.proceso .hover-map { width: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.5+100 */ background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */ position: absolute; bottom: 0px; left: 0px; height: 200px; z-index: 10; text-align: center; }
.proceso .hover-map .content-btns { position: absolute; bottom: 40px; left: 0px; right: 0px; z-index: 20; }
.proceso .padding-ver { padding: 20px 0px; }
.proceso .ic-round { font-size: 15px; background-color: white; border-radius: 50%; width: 30px; height: 30px; margin: 0px auto; text-align: center; padding-top: 6px; }
.proceso #accordion .panel-heading { background-color: white; }
.proceso #accordion .panel-collapse { background-color: #c0c0c0; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom: 1px solid #c0c0c0; }
.proceso #accordion .panel-collapse .list-group-item { background-color: #c0c0c0; border: none; border-bottom: 2px solid #a3a3a3; }
.proceso #accordion .panel-collapse .list-group-item:last-child { border-bottom: 1px solid #a3a3a3; }
.proceso #accordion .inline { display: inline-block; width: 45%; }
.proceso #accordion .icon-datos-bateria { width: 20px; display: inline-block; }
.proceso #accordion .panel .item-collapse .title { color: #cecece; margin: 0px; }
.proceso #accordion .panel .item-collapse .referencia { font-family: "Roboto-Bold"; color: #383b3e; font-size: 20px; margin: 0px; }
.proceso #accordion .panel .item-collapse .precio { font-family: "Roboto-Bold"; color: #383b3e; }
.proceso #accordion .panel .item-collapse .btn-ele { background-color: #f4c916; color: #383b3e; width: 90%; text-align: center; font-size: 16px; text-transform: uppercase; padding: 5px 30px; font-family: "Roboto-Bold"; border-radius: 5px; }
.proceso #accordion .panel .btn-plus { background-color: #cecece; color: white; width: 50px; height: 50px; font-size: 20px; border-radius: 50%; margin: 0px auto; padding: 5px 10px; text-align: center; }
.proceso .btn-pagos { width: 100%; }
.proceso .ic-inline { display: inline-block; font-size: 24px; vertical-align: inherit; padding-right: 10px; }

.mensaje .title { padding: 10px 0px; }
.mensaje .title h4 { text-align: center; width: 50%; margin: 0px auto; padding: 10px 0px; color: white; }
.mensaje .check-mns { text-align: center; }
.mensaje .check-mns .icon-check { font-size: 60px; color: #e3b90c; }
.mensaje .check-mns h3 { margin: 0px; font-family: "Roboto-Bold"; }
.mensaje .body-mns { text-align: center; width: 80%; margin: 10px auto; padding: 10px 0px; }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) { .home .cover-home { height: 480px; } }
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
