@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-bold-webfont.svg') format('svg'),
	url('fonts/robotocondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('fonts/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-bolditalic-webfont.svg') format('svg'),
	url('fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-italic-webfont.svg') format('svg'),
	url('fonts/robotocondensed-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/robotocondensed-light-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-light-webfont.svg') format('svg'),
	url('fonts/robotocondensed-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-lightitalic-webfont.svg') format('svg'),
	url('fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-regular-webfont.svg') format('svg'),
	url('fonts/robotocondensed-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
	url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/robotocondensed-regular-webfont.svg') format('svg'),
	url('fonts/robotocondensed-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "icons-bateria";
  src:url("fonts/icons-bateria.eot");
  src:url("fonts/icons-bateria.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons-bateria.woff") format("woff"),
    url("fonts/icons-bateria.ttf") format("truetype"),
    url("fonts/icons-bateria.svg#icons-bateria") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons-bateria" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-bateria" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ampliar:before {
  content: "\61";
}
.icon-cerrar:before {
  content: "\62";
}
.icon-check:before {
  content: "\63";
}
.icon-datafono:before {
  content: "\64";
}
.icon-datos-bateria:before {
  content: "\65";
}
.icon-desplegar:before {
  content: "\66";
}
.icon-efectivo:before {
  content: "\67";
}
.icon-flecha:before {
  content: "\68";
}
.icon-marca-gratis:before {
  content: "\69";
}
.icon-solicitud-en-linea:before {
  content: "\6a";
}
.icon-whatsapp:before {
  content: "\6b";
}
.icon-whatsapp-copia:before {
  content: "\6c";
}
.icon-arrow-right:before {
  content: "\6d";
}
