//Colors
$amar: #e3b90c;
$amar2: #f4c916;
$gris-lg: #cecece;
$gris-dk: #404040;
$gris-tx: #383b3e;

//Fonts
$bold: "Roboto-Bold";
$italic: "Roboto-Italic";
$light: "Roboto-Light";
$regular: "Roboto-Regular";

.max-container{
  max-width: 728px;
  margin: 0px auto;
  height: 100vh;
background-color: #cecece;
}

body{
  // font-family: $light;
  color: $gris-tx;
  height: 100%;
}

a{
  color: $gris-tx;
}

header{
  width: 100%;
  background-color: #ffcd00;
  text-align: center;
  .logo{
    margin: 0px auto;
    img{
      max-width: 100%;
    }
  }
}

.content{
  width: 100%;
}

.bold{
  font-family: $bold;
}


.bg-dark{
  position: relative;
  background-color: $gris-dk;
}

.bg-light{
  background-color: $gris-lg;
  padding-bottom: 15px;
}

a{
  .btn-yellow{
    text-decoration: none;
  }
}

.btn-yellow{
  background-color: $amar2;
  padding: 5px 20px;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  font-family: $bold;
  font-size: 20px;
}

.mergenes{
  margin-left: 15px;
    margin-right: 15px;
}
