.home{

  .cover-home{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/cover.jpg);
  }


  .solicitud{
    width: 90%;
    margin: 0px auto;
    position: relative;
top: -45px;
    .head-soli{
      background-color: $gris-lg;
      text-align: center;
      font-family: $regular;
      padding: 12px 0px;
      border-top-right-radius: 5px;
      border-top-left-radius:  5px;
    }
    .body-soli{
      margin-left: 15px;
      margin-right: 15px;
      .ic{
        font-size: 30px;
      }
      .ic-round{
        font-size: 15px;
        background-color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0px auto;
        text-align: center;
        padding-top: 6px;
      }
      .item-soli{
        background-color: $amar2;
        padding: 12px 0px;
        border-bottom: 1px solid #c19c00;
        &:last-child{
          border-bottom-right-radius: 5px;
          border-bottom-left-radius:  5px;
        }
      }
    }
  }
  .catalogo{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 20px;
    p{
      color: white;
    }
    a{
      font-family: $regular;
      color: $amar;
    }
  }
}
