.mensaje{
  .title{
    padding: 10px 0px;
    h4{
      text-align: center;
      width: 50%;
      margin: 0px auto;
      padding: 10px 0px;
      color: white;
      // font-family: $light;
    }
  }

  .check-mns{
    text-align: center;
    .icon-check{
      font-size: 60px;
      color: $amar;
    }
    h3{
      margin: 0px;
      font-family: $bold;
    }
  }

  .body-mns{
    text-align: center;
    width: 80%;
    margin: 10px auto;
padding: 10px 0px;
  }

}
