.proceso{
  .head-steps{
    padding: 25px 0px;
    h3{
      text-align: center;
      color: $gris-lg;
      font-family: "Roboto-Italic";
      margin: 0px;
      padding: 10px 0px;
    }
    .time-line{
      text-align: center;
      padding-bottom: 20px;
      .number, .line{
        display: inline-block;
        vertical-align: middle;
      }
      .number{
        text-align: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #565656;
        padding-top: 3px;
        border: 2px solid #565656;
      }
      .check{
        background-color: $amar;
      }
      .number.active{
        border: 2px solid $amar;
        color: $amar;
        .icon-check{
          color: black;
          font-size: 26px;
    margin-top: -6px;
        }
      }
      .line.active{
        border: 1px solid $amar;

      }
      .line{
        width: 60px;
        height: 2px;
        border: 1px solid #565656;
      }
    }
  }

  .content-btns{
    width: 90%;
    margin: 0px auto;
    .input-group{
      width: 100%;
      margin-bottom: 15px;
      input{
        padding: 22px 12px;
border-radius: 5px;
      }
    }
    .btn-group{
      width: 100%;

      button{
        text-align: left;
        width: 100%;
        padding: 12px;
        color: $gris-lg;
      }
    }
    .shadow{
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);
    }
    .margin-btm{
      margin-bottom: 15px;
    }
    .ic-yellow{
      color: $amar2;
      font-size: 19px;
    }
    .left-ic {
      position: absolute;
      right: 15px;
      color: $gris-tx;
    }
    .dropdown-menu{
      width: 100%;
    }
  }

  .out-grid{
    position: relative;
    top: -15px;
  }

  .hover-map{
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.5+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 200px;
    z-index: 10;
    text-align: center;
    .content-btns{
      position: absolute;
      bottom: 40px;
      left: 0px;
      right: 0px;
      z-index: 20;
    }
  }

.padding-ver{
  padding: 20px 0px;
}

.ic-round {
    font-size: 15px;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0px auto;
    text-align: center;
    padding-top: 6px;
}

#accordion{

.panel-heading{
  background-color: white;
}

.panel-collapse{
  background-color: #c0c0c0;
  border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom: 1px solid #c0c0c0;

.list-group-item {
  background-color: #c0c0c0;
      border: none;
      border-bottom: 2px solid #a3a3a3;
      &:last-child{
          border-bottom: 1px solid #a3a3a3;
      }
}

}


.inline{
  display: inline-block;
  width: 45%;
}

.icon-datos-bateria{
  width: 20px;
  display: inline-block;
}

  .panel{
    .item-collapse{
      .title{
        color: $gris-lg;
        margin: 0px;
      }
      .referencia{
        font-family: $bold;
        color: $gris-tx;
        font-size: 20px;
          margin: 0px;
      }
      .precio{
        font-family: $bold;
        color: $gris-tx;
      }
      .btn-ele{
        background-color: $amar2;
        color: $gris-tx;
        width: 90%;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 30px;
        font-family: $bold;
        border-radius: 5px;
      }
    }
    .btn-plus{
      background-color: $gris-lg;
      color: white;
      width: 50px;
      height: 50px;
      font-size: 20px;
      border-radius: 50%;
      margin: 0px auto;
      padding: 5px 10px;
text-align: center;
    }
  }
}

.btn-pagos{
  width: 100%;
}
.ic-inline{
  display: inline-block;
  font-size: 24px;
  vertical-align: inherit;
  padding-right: 10px;
}


}
